@import 'tailwindcss';

@theme {
  --color-red: #d7301f;
  --color-orange: #fc8d59;
  --color-yellow: #fdcc8a;
  --color-cream: #fff0d9;
  --color-text: #2a1111;
  --color-border: #e0e0e0;

  --gradient-red-orange: linear-gradient(135deg, #d7301f 0%, #fc8d59 100%);
  --gradient-orange-yellow: linear-gradient(135deg, #fc8d59 0%, #fdcc8a 100%);
  --gradient-yellow-cream: linear-gradient(135deg, #fdcc8a 0%, #fff0d9 100%);
  --gradient-warm-sunset: linear-gradient(
    135deg,
    #d7301f 0%,
    #fc8d59 50%,
    #fdcc8a 80%,
    #fff0d9 100%
  );
  --color-bg: rgba(255, 255, 255, 0.3);

  --color-heading: rgba(0, 0, 0, 0.88);
  --color-text: rgba(0, 0, 0, 0.88);
  --color-sub: rgba(0, 0, 0, 0.88);

  --font-body: 'Nunito', sans-serif;

  --box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --box-shadow-secondary:
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --box-shadow-tertiary:
    0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
:root {
  --gradient-red-orange: linear-gradient(135deg, #d7301f 0%, #fc8d59 100%);
  --gradient-warm-sunset: linear-gradient(
    135deg,
    #d7301f 0%,
    #fc8d59 50%,
    #fdcc8a 80%,
    #fff0d9 100%
  );
}

/* button {
  background-color: var(--gradient-red-orange);
} */
