@import 'tailwindcss';

@theme {
  --color-red: #d7301f;
  --color-orange: #fc8d59;
  --color-yellow: #fdcc8a;
  --color-cream: #fff0d9;
  --color-text: #2a1111;

  --gradient-red-orange: linear-gradient(135deg, #d7301f 0%, #fc8d59 100%);
  --gradient-orange-yellow: linear-gradient(135deg, #fc8d59 0%, #fdcc8a 100%);
  --gradient-yellow-cream: linear-gradient(135deg, #fdcc8a 0%, #fff0d9 100%);
  --gradient-warm-sunset: linear-gradient(
    135deg,
    #d7301f 0%,
    #fc8d59 50%,
    #fdcc8a 80%,
    #fff0d9 100%
  );

  --font-body: 'Nunito', sans-serif;
}
:root {
  --gradient-red-orange: linear-gradient(135deg, #d7301f 0%, #fc8d59 100%);
  --gradient-warm-sunset: linear-gradient(
    135deg,
    #d7301f 0%,
    #fc8d59 50%,
    #fdcc8a 80%,
    #fff0d9 100%
  );
}

/* button {
  background-color: var(--gradient-red-orange);
} */
