/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-family: 'Inter', sans-serif;
  /* color: white; */
  scroll-behavior: smooth;
  color: #2a1111;
}

.custom-btn {
  padding: 16px 32px !important;
}
